/build
/c302.egg-info
*.pyc
/dist
/LEMS_c302_A_Syns2.xml
/c302_A_Syns2.net.nml
/LEMS_c302_A_Weights.xml
/LEMS_c302_C1_Test.xml
/LEMS_c302_D1_Weights.xml
/c302_A_Weights.net.nml
/c302_C1_Test.net.nml
/c302_D1_Weights.net.nml
/examples/*.mod
/examples/*.hoc
/examples/*.dat
/examples/x86_64/
/examples/*_nrn.py
