/build
/c302.egg-info
*.pyc
/dist
/LEMS_c302_A_Syns2.xml
/c302_A_Syns2.net.nml
/LEMS_c302_A_Weights.xml
/LEMS_c302_C1_Test.xml
/LEMS_c302_D1_Weights.xml
/c302_A_Weights.net.nml
/c302_C1_Test.net.nml
/c302_D1_Weights.net.nml
/examples/*.mod
/examples/*.hoc
/examples/*.dat
/examples/x86_64/
/examples/*_nrn.py
/c302/__init__$py.class
/c302/examples/*.dat
/examples/summary/c302_C0_Muscles_elec_neurons_neurons.png
/examples/summary/c302_C0_Muscles_exc_to_muscles.png
/examples/summary/c302_C0_Muscles_exc_to_neurons.png
/examples/summary/c302_C0_Muscles_inh_to_muscles.png
/examples/summary/c302_C0_Muscles_inh_to_neurons.png
/examples/*.gv
/examples/*.gv.png
*.dat
/LEMS_MyNetwork.xml
/MyNetwork.net.nml
/examples/LEMS_MyNetwork.xml
/examples/MyNetwork.net.nml
/examples/summary/images/muscle_activity_C2_FW.png
/examples/summary/images/muscles_C2_FW.png
/examples/summary/images/neuron_activity_C2_FW.png
/examples/summary/images/neurons_C2_FW.png
/examples/summary/images/traces_muscles_FW_C2.png
/examples/summary/images/traces_muscles_activity_FW_C2.png
/examples/summary/images/traces_neuron_FW_C2.png
/examples/summary/images/traces_neuron_activity_FW_C2.png
/*.gv
*.gv.png
/examples/LEMS_c302_C_MusclesSine.xml
/examples/c302_C_MusclesSine.net.nml
/examples/*MusclesSine.*ml
/examples/console.txt
