name: Non OMV tests

on:
  push:
    branches: [ master, development, test* ]
  pull_request:
    branches: [ master, development, test* ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7 ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version:  ${{ matrix.python-version }}
        
    - name: Install OMV
      run: |
        pip install git+https://github.com/OpenSourceBrain/osb-model-validation
        
    - name: Install c302
      run: |
        pip install .
        pip list
        
    - name: Test OpenWormReader with owmeta
      run: |
        owm bundle remote --user add ow 'https://raw.githubusercontent.com/openworm/owmeta-bundles/master/index.json'
        python -m c302.OpenWormReader

    - name: Run some examples
      run: |
        cd c302
        mkdir examples
        python c302_IClamp.py A
        omv list -V
        omv install NEURON # Need to install NEURON
        which nrnivmodl
        export NEURON_HOME=$RUNNER_TOOL_CACHE/Python/3.9.7/x64/
        
    - name: Run test script
      run: |
        ./test.sh
        
    - name: Final version info
      run: |
        pip list
        env
