name: Non-OMV-tests

on:
  push:
    branches: [ master, development, experimental, ow* ]
  pull_request:
    branches: [ master, development, experimental, ow* ]

jobs:
  build:

    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:        
        runs-on: [ubuntu-latest, macos-12, macos-latest ]
        python-version: [ 3.8, 3.9, "3.10", "3.11" ]
        exclude:
          - runs-on: macos-latest
            python-version: "3.8"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version:  ${{ matrix.python-version }}

    - name: Install HDF5 for pytables on macos-latest
      if: ${{ matrix.runs-on == 'macos-latest' }}
      run: |
        brew install hdf5
        
    - name: Install OMV
      run: |
        pip install git+https://github.com/OpenSourceBrain/osb-model-validation
        
    - name: Install c302
      run: |
        pip install .
        pip install WormNeuroAtlas
        pip list
        
    - name: Test OpenWormReader with owmeta
      if: ${{ matrix.python-version != '3.11' }}
      run: |
        pip install owmeta>=0.12.3
        owm bundle remote --user add ow 'https://raw.githubusercontent.com/openworm/owmeta-bundles/master/index.json'
        python -m c302.OpenWormReader

    - name: Test WormNeuroAtlasReader
      run: |
        python -m c302.WormNeuroAtlasReader

    - name: Run some examples
      run: |
        cd c302
        mkdir examples
        python c302_IClamp.py A
        omv list -V
        omv install NEURON # Need to install NEURON
        which nrnivmodl
        export NEURON_HOME=$RUNNER_TOOL_CACHE/Python/3.9.7/x64/
        
    - name: Run test script
      run: |
        ./test.sh
        
    - name: Final version info
      run: |
        pip list
        env
